<section ng-controller="ViewController" class="card">
    <article class="card-header">
        <div class="h2">{{title}}</div>
    </article>

    <table class="table">
        <tr class="bg-secondary bg-shadow">
            <th></th>
            <th>Content</th>
            <th>Size</th>
            <th>Recommendation</th>
        </tr>
        <tbody>
            <!-- Page title -->
            <tr>
                <td>Page title</td>
                <td>
                    <div ng-show="title">{{title}}</div>
                   
                    <i class="bi bi-search text-success" ng-show="title.length < 61"></i>
                </td>
                <td><b>{{title | count }}</b></td>
                <td>Most desktop and mobile browsers are able to display the first 50–60 characters of a title tag</td>
            </tr>

            <!-- Page Meta -->
            <tr>
                <td>Description</td>
                <td>
                    <div ng-show="description">{{description}}</div> 
                    <i class="bi bi-arrow-up-circle-fill text-success" ng-show="description.length < 155"></i>
                </td>
                <td><b>{{description | count}}</b></td>
                <td>Meta descriptions can technically be any length, but Google generally truncates snippets to ~155-160
                    characters.</td>
            </tr>
            <!-- Page headline -->
            <tr>
                <td>Headline (h1)</td>
                <td>
                    <div ng-show="h1">{{h1}}</div>
                
                    <i class="bi bi-arrow-up-circle-fill text-success" ng-show="h1.length < 61"></i>
                </td>
                <td><b>{{h1 | count }}</b></td>
                <td>Best practices say titles should be between 40 to 60 characters so you can fit in the most keywords.
                </td>
            </tr>
            <!-- Page subheader -->
            <tr>
                <td>Secondary (h2)</td>
                <td>
                   <div ng-show="h2"> {{h2}}</div>
                    <i class="bi bi-arrow-down-circle-fill text-danger" ng-show="h2.length > 60"></i>
                    <i class="bi bi-arrow-up-circle-fill text-success" ng-show="h2.length < 61"></i>
                </td>
                <td><b>{{h2 | count}}</b></td>
                <td>We recommend sticking to a maximum length of 60 characters</td>
            </tr>

            <!-- Total h3 -->
            <tr>
                <td>Sectional (h3) - 1st</td>
                <td>
                    <div ng-show="h3">{{h3}}</div>
                    
                    <i class="bi bi-arrow-down-circle-fill text-danger" ng-show="h3.length > 60"></i>
                    <i class="bi bi-arrow-up-circle-fill text-success" ng-show="h3.length < 61"></i>
                </td>
                <td>
                    <div class="row">
                        <b>{{h3 | count}} </b>
                    </div>
                </td>
                <td></td>
            </tr>

             <!-- Total h3 -->
             <tr>
                <td>Keywords</td>
                <td>
                    <div ng-show="keywords">{{keywords | commaJoin}}</div>

                    <i class="bi bi-key text-success" ng-show="keywords"></i>
                </td>
                <td>
                    <div class="row">                       
                    </div>
                </td>
                <td></td>
            </tr>

            <!-- URL Settings -->
            <tr>
                <td>Secured</td>
                <td>
                    <div ng-show="h3">{{url | isSecured}}</div>
                    
                    <i class="bi bi-arrow-down-circle-fill text-danger" ng-show="!h3"></i>
                    <i class="bi bi-arrow-up-circle-fill text-success" ng-show="h3"></i>
                </td>
                <td>
                    <div class="row">
                        <b>N/A</b>
                    </div>
                </td>
                <td></td>
            </tr>



        </tbody>
    </table>
    <div class="my-4">
        <div class="text-center align-center">
            <img src="images/icon.png" alt="logo seoflow" width="200">
            <p>Inspecting: {{url}}</p>
        
        </div>
    </div>
</section>